<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.hahalocalexpress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_80"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity android:name=".com.hahalocalexpress.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.hahalocalexpress.activity.MainActivity"></activity>
        <activity android:name=".com.hahalocalexpress.activity.CompleteOrderInfoActivity"></activity>
        <activity android:name=".com.hahalocalexpress.activity.SelectCommonRouteActivity"></activity>
        <activity android:name=".com.hahalocalexpress.activity.ManageCommonRouteActivity"></activity>
        <activity android:name=".com.hahalocalexpress.activity.AddCommonRouteActivity"></activity>
        <activity android:name=".com.hahalocalexpress.activity.SelectCityActivity"></activity>
        <activity android:name=".com.hahalocalexpress.activity.ConfirmOrderActivity"></activity>
        <activity android:name=".com.hahalocalexpress.activity.LoginActivity"></activity>
    </application>

</manifest>